@import url('./__block/supporters__block.css');
@import url('./__block-top/supporters__block-top.css');
@import url('./__block-items/supporters__block-items.css');
@import url('./__block-acct/supporters__block-acct.css');
@import url('./__block-logo/supporters__block-logo.css');
@import url('./__block-FBlogo/supporters__block-FBlogo.css');
@import url('./__block-name/supporters__block-name.css');
@import url('./__block-number/supporters__block-number.css');
@import url('./__block-label/supporters__block-label.css');
@import url('./__block-changes/supporters__block-changes.css');
@import url('./__block-instagram/supporters__block-instagram.css');
@import url('./__block-icon/supporters__block-icon.css');
@import url('./__block-youtube/supporters__block-youtube.css');
@import url('./__block-icon-red/supporters__block-icon-red.css');

.supporters {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

@media screen and (min-width: 786px) {
  .supporters {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1446px;
  }
}