@import url('./__block/header__block.css');
@import url('./__block-item/header__block-item.css');
@import url('./__block-title/header__block-title.css');
@import url('./__block-subtitle/header__block-subtitle.css');
@import url('./__block-label/header__block-label.css');
@import url('./__block-slider/header__block-slider.css');
@import url('./__block-switch/header__block-switch.css');

.header {
  width: 100%;
  height: 233px;
  background-color: #20222f;
  border-radius: 0 0 5% 5%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}